---
interface Props {
	colSpan: number;
	rowSpan: number;
}

const {colSpan, rowSpan } = Astro.props;
---

<div class="relative bg-black rounded-3xl transition-all duration-300 hover:scale-[1.02] hover:shadow-[0_0_40px_8px_rgba(68,64,60,0.7)]"
 class:list={[{
	"col-span-1": colSpan === 1,
	"col-span-2": colSpan === 2,
	"col-span-3": colSpan === 3,
	"col-span-4": colSpan === 4,
	"col-span-5": colSpan === 5,
	"col-span-6": colSpan === 6,
},
{
	"row-span-1": rowSpan === 1,
	"row-span-2": rowSpan === 2,
	"row-span-3": rowSpan === 3,
	"row-span-4": rowSpan === 4,
	"row-span-5": rowSpan === 5,
	"row-span-6": rowSpan === 6,
}
]}>

	<slot>
		<div class="h-full w=full flex justify-center items-center rounded-3xl"></div> 
	<slot />
</div>
