---
import Card from "./Card.astro";
interface Props {
	colSpan: number;
	rowSpan: number;
    href: string;
}

const {colSpan, rowSpan, href } = Astro.props;

---
<Card colSpan={colSpan} rowSpan={rowSpan}>
    <a href={href} class="w-full h-full flex justify-center items-center relative cursor-pointer overflow-hidden whitespace-nowrap  ">
        <slot />
    </a>
</Card>



