---
import Card from "./Card.astro";
import { Image } from 'astro:assets';

interface Props {
	colSpan: number;
	rowSpan: number;
}

const {colSpan, rowSpan } = Astro.props;

---
<Card colSpan={colSpan} rowSpan={rowSpan}>
    <div class="w-full h-full flex justify-around px-6 items-center relative cursor-pointer overflow-hidden whitespace-nowrap">
        <div class="flex-shrink-0">
            <h2 class="text-white text-5xl font-bold pb-6">Raul Castro Moreno</h2>
            <p class="text-gray-600 text-3xl">Ingeniero Software FullStack</p>
          </div>
          <div class="flex-shrink-0">
            <img src="/raulFoto.jpg" alt="Tu Foto" class="w-[400px] h-[400px] rounded-full overflow-hidden object-cover">
          </div>
    </div>
</Card>