---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Ingeniero Software",
    company: "Fujitsu",
    description:
      "Realizo gestión ITIL, a la vez que programo usando Javascript y Powershell en Azure",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Agosto 2022",
    title: "Ingeniero de Software. Becario",
    company: "Celtiberian",
    description:
      "Creación de extensión de Google Chrome para scrapping de información de páginas de Linkedin e Infojobs. Dessarrollo de Limador, una líbrería para Crawling the información",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
