---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Front End Developer",
    company: "Apipana.io",
    description:
      "Desarrollo páginas web con NextJS y React, a la vez que uso testing e integración continua",
    link: "https://apipana.io/",
  },
  {
    date: "Agosto 2022 - Junio 2024",
    title: "Ingeniero Software",
    company: "Fujitsu Solutions",
    description:
      "Realizo gestión ITIL, a la vez que programo usando Javascript y Powershell en Azure",
    link: "https://www.fujitsu.com/global/solutions/",
  },
  {
    date: "Agosto 2022",
    title: "Ingeniero de Software. Becario",
    company: "Celtiberian",
    description:
      "Creación de extensión de Google Chrome para scrapping de información de páginas de Linkedin e Infojobs. Dessarrollo de Limador, una líbrería para Crawling the información",
    link: "https://www.celtiberian.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
