---
interface Props {
	colSpan: number;
	rowSpan: number;
	order: number;
	orderMobile: number;
}

const {colSpan, rowSpan, order, orderMobile } = Astro.props;
---

<div class="relative bg-white dark:bg-black rounded-3xl transition-all duration-300 hover:scale-[1.02] hover:shadow-[0_0_40px_8px_rgba(68,64,60,0.7)]"
 class:list={[{
	"col-span-1": colSpan === 1,
	"col-span-2": colSpan === 2,
	"col-span-3": colSpan === 3,
	"col-span-4": colSpan === 4,
	"col-span-5": colSpan === 5,
	"col-span-6": colSpan === 6,
},
{
	"row-span-1": rowSpan === 1,
	"row-span-2": rowSpan === 2,
	"row-span-3": rowSpan === 3,
	"row-span-4": rowSpan === 4,
	"row-span-5": rowSpan === 5,
	"row-span-6": rowSpan === 6,
},
{
	"order-1": orderMobile === 1,
	"order-2": orderMobile === 2,
	"order-3": orderMobile === 3,
	"order-4": orderMobile === 4,
	"order-5": orderMobile === 5,
	"order-6": orderMobile === 6,
	"order-7": orderMobile === 7,
	"order-8": orderMobile === 8,
	"order-9": orderMobile === 9,
	"order-10": orderMobile === 10,
	"order-11": orderMobile === 11,
	"order-12": orderMobile === 12,
	"order-[13]": orderMobile === 13,
	"order-[14]": orderMobile === 14,
	"order-[15]": orderMobile === 15,
	"order-[16]": orderMobile === 16,
	"order-[17]": orderMobile === 17,
	"order-[18]": orderMobile === 18,
	"order-[19]": orderMobile === 19,
},
{
	"sm:order-1": order === 1,
	"sm:order-2": order === 2,
	"sm:order-3": order === 3,
	"sm:order-4": order === 4,
	"sm:order-5": order === 5,
	"sm:order-6": order === 6,
	"sm:order-7": order === 7,
	"sm:order-8": order === 8,
	"sm:order-9": order === 9,
	"sm:order-10": order === 10,
	"sm:order-11": order === 11,
	"sm:order-12": order === 12,
	"sm:order-[13]": order === 13,
	"sm:order-[14]": order === 14,
	"sm:order-[15]": order === 15,
	"sm:order-[16]": order === 16,
	"sm:order-[17]": order === 17,
	"sm:order-[18]": order === 18,
	"sm:order-[19]": order === 19,
}
]}>

	<slot>
		<div class="h-full w=full flex justify-center items-center rounded-3xl"></div> 
	<slot />
</div>
