---
import Card from "./Card.astro";

interface Props {
	colSpan: number;
	rowSpan: number;
    order: number;
	orderMobile: number;
}

const {colSpan, rowSpan, order, orderMobile } = Astro.props;


---
<Card colSpan={colSpan} rowSpan={rowSpan} order={order} orderMobile={orderMobile}>
    <a href="/CV.pdf" download="RaulCastroMorenoCV.pdf" class="w-full h-full flex justify-center items-center relative cursor-pointer overflow-hidden whitespace-nowrap  ">
        <h2 class="text-black dark:text-white text-xl xl:text-3xl">Descarga mi CV</h2>
    </a>
</Card>