---
import Layout from '../layouts/Layout.astro';
---

<script>

</script>

<Layout title="Raúl Castro">
	<main>
		<h1>Raúl Castro Moreno</h1>
		<h2>About Me</h2>
		<p>Graduate of Computer Engineering at the University of Granada, specializing in Software Engineering.
			
		<p>Currently working at Fujitsu, where I am training in ITIL and at the same time developing features in Javascript and Powershell, although I intend to learn many more languages, thus looking for the most useful and optimal ones, and that I personally like the most, while looking to learn the ones that will be used the most in the short/medium term.</p>
			
		<p>Working in a team is not a problem for me, since I am quite social as well as responsible, where I look for the work to be done while you are working side by side with colleagues, maintaining a good atmosphere and confidence to talk about anything.</p>
	</main>
</Layout>

<style>
	
</style>


